footer h3{
    margin-top:3em;
    text-align: center;
    background-color: var(--guardsman-red-100);
    color: var(--guardsman-red-950);
    padding: 1em;
}

footer .media_container{
    background-color: var(--guardsman-red-950);
    color:var(--guardsman-red-100);
}

footer .media_container h4{
    text-align: center;
    padding: 3em 1em;
}

.media, .contact{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer .media_container .media a{
    flex-basis: 4%;
}

footer .media_container .media a img{
    display: block;
    width:100%;
}

footer .media_container .contact{
    color:var(--guardsman-red-100);
    padding:5%;
}

footer .media_container .contact a{
    text-decoration: none;
    color: var(--guardsman-red-100);
}

@media only screen and (max-width:750px){

    footer .media_container .media a{
        flex-basis: 10%;
    }
}
