header{
    padding-bottom: 1em;
    background-color: var(--guardsman-red-800);
    position:sticky;
    top:0;
    width:100%;
    z-index: 1000;
}

header .toogle{
    display: none;
}

header .logoheader{
    display: inline-block;
    height:5em;
    width:100%;
}

header .logoheader img{
    margin:0 auto;
    height: 100%;
    display: block;
}

header .tools_container{
    position: absolute;
    top:1em;
    right:1em;
    width:4em;
}

header .tools{
    display: flex;
}

header .tools a{
    margin:0.2em;
    flex-grow:1;
}

header .tools a img{
    display: block;
    width:100%;
}


header nav{
    margin-top:1em;
}

header nav .search_container{
    margin-left:1em;
    width:20%;
}

header nav .options{
    transition: left ease 1s;
    width:70%;
}

header nav .search_container, header nav .options{
    display: inline-block;
}

header nav .search_container .search{
    position: relative;
    width:100%;
}

header nav .search_container .search .results{
    position:absolute;
    overflow: auto;
    width: 100%;
    max-height:50vh;
    top:100%;
}

header nav .search_container .search .results ul{
    margin-top: 0;
}

header nav .search_container .search .results ul li{
    margin:0;
    width:100%;
}

header nav .search_container .search .results ul li a{
    font-size:0.7em;
    padding: 0.5em;
    text-align: center;
    color:var(--guardsman-red-50);
    background-color:var(--guardsman-red-950);
    display: block;
    width:100%;
}

header nav .search_container .search .results ul li a:hover{
    background-color: var(--guardsman-red-50);
    color:var(--guardsman-red-950);
}

header nav .search_container .search input[type="text"]{
    padding: 0.3em;
    outline: none;
    border: none;
    width: 100%;
}


header nav .options ul{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}


header nav .options ul li{
    text-align: center;
    flex-grow: 1;
}

header nav .options ul li a{
    border-bottom: var(--guardsman-red-800) solid 0.1em;
    padding:1em 0;
    display:block;  
    color:var(--guardsman-red-50);
    text-transform: uppercase;
}

header nav .options ul li a img{
    display: block;
    width:100%;
}

header nav .options ul li a:hover{
    border-bottom: white solid 0.1em;
}

@media only  screen and (max-width:1000px){
    header nav .options{
        width:100%;
    }
}


@media screen and (max-width:750px){

    header .toogle{
        display: block;
        width:30px;
        position:absolute;
        top:20px;
        left:20px;
        cursor: pointer;
        z-index: 2000;
    }

    header .toogle img{
        display: block;
        width: 100%;
    }
    
    header nav .search_container{
        width:80%;
    }

    header nav .search_container .search{
        margin:auto;
        width:60%;
    }

    header nav .search_container .search .results{
        position:absolute;
        width:100%;
        padding-top: 0;
    }

    header nav .options{
        top:0;
        left:-50%;
        background-color: var(--guardsman-red-950);
        width: 50%;
        position: fixed;
        height:100vh;
    }

    header nav ul{
       margin-top:2em;
       align-content: center;
       flex-direction: column;
    }
}
