aside{
    flex-basis:20%;
    background-color: var(--guardsman-red-50);
    margin-left:1em;
    border-radius:0.5em;
}

aside .filter_container h2{
    color:var(--guardsman-red-900);
    padding:1em;
}

aside .filter_container form{
    display:block;
    padding:1em;
}

aside .filter_container form div{
    width:100%;
    display: inline-block;
}

aside .filter_container form input{
    transform: scale(1.5);
}

aside .filter_container form label{
    color: var(--guardsman-red-900);
    display: inline-block;
    margin:1em 0;
}

@media only screen and (max-width:1024px){
    aside .filter_container form div{
        font-size: 0.7em;
        width:45%;
    }

    aside .filter_container form div label{
        margin:0;
    }

    aside .filter_container form .div_order_by{
        width:100%;
    }
}