h1{
    padding:1em;
    font-size: 1em;
}

main{
    display: flex;
    flex-wrap:wrap;
}

.cart_container{
    flex-basis:70%;
    padding:1em;
}

.cart{
    background-color: var(--guardsman-red-100);
}

.product_on_list{
    display: flex;
    border:solid 0.1em var(--guardsman-red-950);
    width:100%;
    height:20vh;    
    margin:1em 0;   
}

.info_container{
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
}

.product_on_list .img_container{
    flex-grow: 1;
    display: flex;
    flex-basis:20%;
    padding:0.5em;
}

.product_on_list .img_container img{
    align-items: center;
    width:100%;
    object-fit: cover;
}

.info_product{
    display: flex;
    padding:0.5em;
    flex-basis: 90%;
}

.info_product b{
    font-size: 0.8em;
    margin-left:1em;
}

.info_product b .size{
    margin-left:1em;
}

.info_product span:last-child{
    margin-left:auto;
    font-size:1.3em;
}

.product_tools{
    display: inline-block;
    width:70%;
    padding:1em;
}

.product_tools label{
    margin-left:1em;
}

.product_tools input[type="button"], .resume_costs div input[type="button"]{
    outline:none;
    background-color: var(--guardsman-red-950);
    border:none;
    color:var(--guardsman-red-50);
    padding:0.5em;
    margin-left:0.5em;
    cursor:pointer;
}

.product_tools input[type="text"]{
    padding:0.5em;
    border:none;
    background-color: var(--guardsman-red-50);
    width:10%;
    outline:none;
    margin-left:0.5em;
}

.resume_costs{
    padding:1em;
    margin-top:1em;
    width:20%;
    height:100%;
    background-color: var(--guardsman-red-100);
    flex-grow: 1;
}

.resume_costs h2{
    padding:0.5em;
    border-bottom:solid 0.1em var(--guardsman-red-950); 
}

.min_cost, .order_price, .buy_product{
    display: flex;
    padding:1em;
}

.resume_costs div input[type="button"]{
    width:100%;
}

.shipping{
    background-color: var(--guardsman-red-100);
    color:var(--guardsman-red-950);
    padding:1em;    
}

.shipping_options .shipping_option{
    padding:1em;
}

.info_transport{
    display: none;
}

.info_transport form{
    display: flex;
    flex-direction: column;
    width:80%;  
}

.info_transport form label{
    padding:0.5em 0;
}

.info_transport form input{
    padding:0.5em;
    outline:none;
    border:solid 0.1em var(--guardsman-red-950);
}
.min_cost span{
    margin:0;
    padding:0;
    color:var(--guardsman-red-950);
    font-size:1.2em;
}


@media only screen and (max-width:1024px){
    .cart_container, .resume_costs{
        flex-basis: 100%;
        margin:0;
    }

    .img_container{
        flex-basis:40%;
    }

    .cart_container h1{
        margin-left:1em;
    }

    .info_container{
        flex-basis:70%;
    }
     
    .info_product{
        flex-basis: 100%;
        flex-wrap:wrap;
        font-size: 0.8em;
    }

    .info_product span{
        flex-basis: 100%;
    }
    .product_tools{
        flex-basis: 100%;
    }
}