.products_container{
    flex-basis: 75%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-auto-rows:50vh;
    gap: 1em;
    justify-items: center;
}

.product{
    opacity:0.05;
    background-color:rgb(241, 227, 223);
    padding:1em;
    transition-property:opacity;
    transition-duration: 5s;
    transition-timing-function: ease;
}
.product_opacity {
    opacity: 1;
}

.product a{
    text-decoration: none;
    color:black;
}

.product .img_product{
    height:60%;
}

.product .img_product img{
    display: block;
    width:100%;
    height:100%;
    object-fit: cover;
}

.product .info_product{
    background-color:inherit;
    padding:1em 0;
    font-size: 0.8em;
    height:40%;
    padding:1em;
}

.product .info_product span{
    padding:0.5em 0;
    display:block;
}

@media only  screen and (max-width:1024px){
    .products_container{
        display: grid;
        flex-basis: 100%;
        grid-template-columns:repeat(2, 1fr);
        grid-auto-rows:25vh;
        gap:0.5rem;
    }
    
    .product{
        padding:0;
    }
    .product_opacity{
        opacity:1;
    }

    .info_product span, .info_product p{
        font-size: 0.8em;
    }
}