<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solcito - Ropa y accesorios</title>
    <link rel="stylesheet" href="../estilos/index/index.css">
    <link rel="stylesheet" href="../estilos/index/header.css">
    <link rel="stylesheet" href="../estilos/index/whatsapp.css">
    <link rel="stylesheet" href="../estilos/about.css">
    <link rel="stylesheet" href="../estilos/index/footer.css">
</head>

<body>
    <div class="content">
        <header>
            <div class="toogle" id="toogle"><img src="../img/menu.png" alt="menu">
            </div>
            <div class="logoheader">
                <img src="../img/logoheader.jpg" alt="logoheader">
            </div>
            <div class="tools_container">
                <div class="tools">
                    <a href="#1"><img src="../img/usuario.png" alt="perfil"></a>
                    <a href="#2"><img src="../img/carrito.png" alt="carrito"></a>
                </div>
            </div>
            <nav>
                <div class="search">
                    <form action="get">
                        <input type="text" placeholder="Busca un articulo">
                        <input type="submit" value="Buscar">
                    </form>
                </div>
                <div class="options" id="options">
                    <ul>
                        <li><a href="../../index.html">Inicio</a></li>
                        <li><a href="./colections.html">Colecciones</a></li>
                        <li><a href="./contact.html">Contacto</a></li>
                        <li><a href="./about.html">Sobre la empresa</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="about">
                <div class="img_about">
                    <img src="../img/empresa.png" alt="empresa">
                </div>
                <div class="article_about">
                    <article>
                        <h1>Sobre la empresa</h1>
                        <p>La colección de indumentaria y accesorios para bebés y niños de Solcito,
                            es el resultado del compromiso empresarial iniciado hace mas de 15 años
                            basado en los siguientes principios:</p>
                    </article>
                </div>
                <div class="list">
                    <ul>
                        <li>Amplia variedad de prendas orientadas a las verdaderas necesidades de los niños
                            (confort, calidez, elegancia y durabilidad)</li>
                        <li>Relación costo-beneficio adecuada a nuestro mercado</li>
                        <li>Una vasta carta de colores para todos los gustos</li>
                        <li>Un fuerte nexo con la moda en cada temporada</li>
                        <li>Una verdadera selección de materias primas de alta calidad</li>
                        <li>Moldería adaptada a todo tipo de talles, evitando una propuesta solo para estereotipos
                        </li>
                        <li>Atención cálida y rigurosamente personalizada en nuestros puntos de venta</li>
                    </ul>
                </div>
                <span>Como siempre y más que nunca, <b>Solcito</b> es una experiencia que viste el alma de alegría
                    de aquellos en quienes depositamos nuestras esperanzas más íntimas</span>
                <div class="business_article">
                    <article>
                        <h2>Solcito para empresas y comercios</h2>
                        <b>Un modelo de gestión bien definido</b><br>
                        <p>
                            Desde nuestra planta de 1000m² en el centro geográfico de la Capital Federal proyectamos y
                            desarrollamos la línea de indumentaria y accesorios que por más de 15 años satisface la
                            necesidad de buen diseño, precio y calidad en la industria de nuestro país.

                            Así mismo trabajamos para fortalecer la imagen de nuestra marca y poder transmitir
                            sencillamente los valores antes mencionados a través de una comunicación constante y eficaz
                            con nuestro público que crece día a día.

                            A nuestros clientes, comerciantes y empresarios, les agradecemos por acompañar este proceso
                            de compromiso y lealtad recíproca e invitamos los que no lo son a sumarse y compartir este
                            camino que intenta ser beneficioso para todos.
                        </p>
                    </article>
                </div>
            </div>
        </main>
        <footer>
            <h3>Solcito web 2023 - Todos los derechos reservados</h3>
            <div class="media_container">
                <h4>Seguinos en nuestras redes sociales</h4>
                <div class="media">
                    <a href="#"><img src="../img/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="../img/whatsapp.png" alt="whatsapp"></a>
                    <a href="#"><img src="../img/instagram.png" alt="instagram"></a>
                </div>
                <div class="contact">
                    Contactanos:
                    <a href="#" class="mail">info@solcitoweb.com.ar</a>
                    <b>+54 9 11 3026-9534</b>
                    <b>Tucumán 2100, CABA </b>
                </div>
            </div>
            <div class="whatsapp">
                <a href="#"><img src="../img/whatsapp.png" alt="whatsapp"></a>
            </div>
        </footer>
    </div>
    <script src="../scripts/index/navToogle.js"></script>
</body>

</html>