<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solcito - Ropa y accesorios</title>
    <link rel="stylesheet" href="../estilos/index/index.css">
    <link rel="stylesheet" href="../estilos/index/header.css">
    <link rel="stylesheet" href="../estilos/colections.css">
    <link rel="stylesheet" href="../estilos/main_title.css">
    <link rel="stylesheet" href="../estilos/index/whatsapp.css">
    <link rel="stylesheet" href="../estilos/index/footer.css">
</head>
<body>
    <div class="content">
        <header>
            <div class="toogle" id="toogle"><img src="../img/menu.png" alt="menu">
            </div>
            <div class="logoheader">
                <img src="../img/logoheader.jpg" alt="logoheader">
            </div>
            <div class="tools_container">
                <div class="tools">
                    <a href="#1"><img src="../img/usuario.png" alt="perfil"></a>
                    <a href="#2"><img src="../img/carrito.png" alt="carrito"></a>
                </div>
            </div>
            <nav>
                <div class="search">
                    <form action="get">
                        <input type="text" placeholder="Busca un articulo">
                        <input type="submit" value="Buscar">
                    </form>
                </div>
                <div class="options" id="options">
                    <ul>
                        <li><a href="../../index.html">Inicio</a></li>
                        <li><a href="./colections.html">Colecciones</a></li>
                        <li><a href="./contact.html">Contacto</a></li>
                        <li><a href="./about.html">Sobre la empresa</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <h1>Nuestras colecciones!</h1>
            <div class="colections">
                <div class="colection">
                    <a href="#"><img src="../img/24510.png" alt="colection" id="colection1">
                    <label for="colection1">Coleccion 1</label>
                    </a>
                </div>
                <div class="colection">
                    <a href="#"><img src="../img/24510.png" alt="colection" id="colection2">
                    <label for="colection2">Coleccion 2</label>
                    </a>
                </div>
                <div class="colection">
                    <a href="#"><img src="../img/24510.png" alt="colection" id="colection3">
                    <label for="colection3">Coleccion 3</label>
                    </a>
                </div>
                <div class="colection">
                    <a href="#"><img src="../img/24510.png" alt="colection" id="colection4">
                    <label for="colection4">Coleccion 4</label>
                    </a>
                </div>
                <div class="colection">
                    <a href="#"><img src="../img/24510.png" alt="colection" id="colection5">
                    <label for="colection5">Coleccion 5</label>
                    </a>
                </div>
                <div class="colection">
                    <a href="#"><img src="../img/24510.png" alt="colection" id="colection6">
                    <label for="colection6">Coleccion 6</label>
                    </a>
                </div>
            </div>
        </main>
        <div class="whatsapp">
            <a href="#"><img src="../img/whatsapp.png" alt="whatsapp"></a>
        </div>
        <footer>
            <h3>Solcito web 2023 - Todos los derechos reservados</h3>
            <div class="media_container">
                <h4>Seguinos en nuestras redes sociales</h4>
                <div class="media">
                    <a href="#"><img src="../img/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="../img/whatsapp.png" alt="whatsapp"></a>
                    <a href="#"><img src="../img/instagram.png" alt="instagram"></a>
                </div>
                <div class="contact">
                    Contactanos:
                    <a href="#" class="mail">info@solcitoweb.com.ar</a>
                    <b>+54 9 11 3026-9534</b>
                    <b>Tucumán 2100, CABA </b>
                </div>
            </div>
        </footer>
        </div>
        <script src="../scripts/index/navToogle.js"></script>
</body>
</html>