<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solcitoweb - Admin</title>
    <link rel="stylesheet" href="../estilos/index/index.css">
    <link rel="stylesheet" href="./admin.css">
</head>

<body>
    <div class="crud_products">
        <div class="new_product_container">
            <h2>Subir un articulo:</h2>
            <form id="form_new_product">
                <label for="code_product">Código del articulo:</label>
                <input type="text" id="code_product" required>
                <label for="name_product">Nombre:</label>
                <input type="text" id="name_product" required>
                <label for="print_product">Número de estampa:</label>
                <input type="text" id="print_product" required>
                <label for="img_product">Imagen:</label>
                <input type="file" id="img_product" required>
                <label for="price_product">Precio:</label>
                <input type="text" id="price_product" required>
                <label for="group_product">Categoría:</label>
                <select id="group_product">
                    <option value="3">Recien nacidos</option>
                    <option value="318">De 3 a 18 meses</option>
                    <option value="140">1 a 4 años niños</option>
                    <option value="141">1 a 4 años nenas</option>
                    <option value="4160">4 a 16 años nenes</option>
                    <option value="4161">4 a 16 años nenas</option>
                    <option value="1">accesorios</option>
                </select>
                <input type="button" value="Crear" id="button_create">
            </form>
        </div>
        <div class="products_container">
            <h2 id="name_collection"></h2>
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Nro estampa</th>
                        <th>Imagen</th>
                        <th>Precio</th>
                        <th>Categoría</th>
                    </tr>
                </thead>
                <tbody id="tbody_products">
                </tbody>
            </table>
        </div>
    </div>
    <script src="../scripts/fetch.js"></script>
    <script src="../scripts/getCollection.js"></script>
    <script src="./products.js"></script>
</body>

</html>