header .logoheader{
    display: inline-block;
    height:10vh;
    margin:1em auto;
    width:100%;
}

header .logoheader img{
    margin:0 auto;
    height: 100%;
    display: block;
}

header .tools_container{
    width:5%;
    position: absolute;
    top:2em;
    right:2em;
    width:70px;
}

header .tools{
    display: flex;
}

header .tools a{
    margin:0.2em;
    flex-grow:1;
}

header .tools a img{
    display: block;
    width:100%;
}


header nav{
    margin-top:1em;
}

header nav .search{
    width:20%;
}

header nav .options{
    min-width:750px;
    width:70%;
}

header nav .search, header nav .options{
    display: inline-block;
}

header nav .search form{
    display: flex;
    width:100%;
}

header nav .search form input[type="submit"]{
    flex-basis: 10%;
    padding:0.3em;
    border-radius: 0.2em;
    border:none;
    margin-left:0.2em;
    background-color:var(--guardsman-red-50);
    color:var(--guardsman-red-700);
}
header nav .search form input[type="text"]{
    padding:0.3em;
    border-radius: 0.2em;
    outline: none;
    border: none;
    margin-left:0.2em;
}


header nav ul{
    width:100%;
    display:flex;
    list-style:none;
    flex-wrap: wrap;
}


header nav ul li{
    text-align: center;
    flex-basis: 25%;
}

header nav ul li a{
    padding:1em 0;
    display:block;
    text-decoration: none;
    color:var(--guardsman-red-50);
    border-bottom:none;
    transition:border-bottom 6s ease;
}

header nav ul li a img{
    display: block;
    width:100%;
}

header nav ul li a:hover{
    border-bottom: white solid 0.1em;
}

