main{
   padding-top:1em;
   display: flex;
   flex-wrap: wrap;
}

@media only  screen and (max-width:1024px){

    main aside{
        flex-basis: 100%;
    }

    main aside form br{
        display:none;
    }

    main aside form label{
        padding:0.5em;
    }
}